
body{
    margin:0;
    font-family: m
}
header img{
    height: 200px
}
header{
    text-align: center;
    box-shadow: 5px 5px 5px;
    background-color: rgb(245, 244, 237);
}
nav{
    padding: 10px;
    box-shadow: 5px 5px 5px;
    background-color: rgba(255, 193, 78, 0.959);

}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s;
    border: 1px rgb(255, 215, 125) solid;
    border-radius: 100px;
    background-color: rgb(255, 215, 125);
}
nav a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background-color: rgb(255, 174, 0);
}
.deskripsiHome{
    width:40%;
    margin-left: 50px;
    font-size: 20px;
    & h3{
        color: rgb(85, 40, 0);
    }
}
.home{
    background-image: url(Sourdough.png);
    height: 600px;
    background-size:cover;
    padding-top: 50px;
}
.deskripsiHome a{
    text-decoration: none;
    color: white;
    background-color: rgb(100, 50, 0);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.719);
    border: 2px rgb(50, 25, 0) solid;
}
.deskripsiHome a:hover{
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.719);
    padding: 11px 31px;
}
.deskripsiHome p{
    color: rgb(0, 0, 0);
    font-family: 'Righteous';
}
.deskripsiHome h1{
    color: rgb(255, 220, 155)
}
